body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
    color : black;
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#upperdiv {
    height: auto;
    background-color: wheat;
}

#lowerdiv { 
    background-color: salmon;
    flex-grow: 1;
}

#title { 
    text-align: center;
}

#title h1 {
    font-family: Georgia, "Times New Roman", Times, serif; /* 這是常見的襯線字體組合喔 */
    color: black;
    margin: 0;
    padding-top: 20px;
}

.navbar { 
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: burlywood; 
    position: relative; 
}

.navbar li { 
    position: relative;
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
}

.navbar li a { 
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
    border: 1px solid;
}

.dropdown {
    position: relative;
    
}

.dropdownContent { 
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: bisque;
    width: 100%;
    padding: 0;
}

.dropdownContent li {
    border: 1px solid;
    list-style: none;
    padding: 8px 0;
    text-align: left;
    padding-left: 15px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

@media all {
}
@media print {
    .navbar {
        display: none;
    }
}