body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px; 
}

.container {
    width: 100%; 
    box-sizing: border-box; 
}

h1, h3 {
    color: black;
    text-align: left;
}

.input-group {
    border: 1px solid black;
    padding: 15px;
    background-color: #eee;
    margin-bottom: 20px;
    
    
    text-align: left; 
}

label {
    margin-right: 15px;
}

input {
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
    width: 150px; 
}

button {
    background-color: #ddd;
    border: 1px solid black;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}


table {
    width: 100%; 
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; 
}

thead {
    background-color: #ccc;
    color: black;
}

tfoot {
    background-color: #ddd;
    font-weight: bold;
}